.navbar {
  background-color: #485829;
}
.navbar ul li a {
  margin-left: 30px;
  font-size: 24px;
  color: white;
}
form{
  margin-left: 50%;
}

.form-control{
  justify-content: end;
}
.active{
  border-radius: 10px;
  padding: 10px;
  background-color: #82827a;
  color: black
}
