<mat-toolbar class="mobile">
<span>
  <img class="size_logo" src="assets/logos/Logo_freelance_messiaen.png" alt="logo">
 </span>
<button class="menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
  <mat-icon >menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="projets" routerLinkActive="active">
    <mat-icon>laptop</mat-icon>
    <span>Projets</span>
  </button>
  <button mat-menu-item routerLink="contact" routerLinkActive="active">
    <mat-icon>email</mat-icon>
    <span>Contact</span>
  </button>
  <button mat-menu-item routerLink="a-propos" routerLinkActive="active">
    <img class="svg" src="assets/logos/information.svg" alt="svg information">
    <span>A propos</span>
  </button>
  <button mat-menu-item  routerLink="collaborations" routerLinkActive="active">
    <img class="svg" src="assets/logos/handshake-outline.svg" alt="handshake-outline">

    <span >Collaborations</span>
  </button >
  <button mat-menu-item routerLink="cv" routerLinkActive="active">
    <img class="svg" src="assets/logos/file-account.svg" alt="svg information">
    <span>CV</span>
  </button>
</mat-menu>
</mat-toolbar>

<mat-toolbar class="laptop">
  <span>
  <img class="size_logo" src="assets/logos/Logo_freelance_messiaen.png" alt="logo">
 </span>
    <div>
      <a  class="redir" mat-raised-button routerLink="projets" routerLinkActive="active" >Projets</a>
      <a  class="redir" mat-raised-button routerLink="contact" routerLinkActive="active" >Contact</a>
      <a  class="redir" mat-raised-button routerLink="a-propos" routerLinkActive="active" >A propos</a>
      <a  class="redir" mat-raised-button routerLink="collaborations" routerLinkActive="active">Collaborations</a>
      <a  class="redir" mat-raised-button routerLink="cv" routerLinkActive="active" >CV</a>
    </div>
</mat-toolbar>

