<app-slide></app-slide>
<div class="container d-flex position ">
  <div class="texte-card">
    <h3 class="text-center">Développement web, mobile</h3>
    <p>J'aime faire tous types d'applications allant du site web à l'application mobile.</p>
    <p>j'adore découvrir de nouveaux projets</p>
  </div>
  <div class="pictureCard w-50 h-75">
    <img src="assets/pictures/mobile.jpg" alt="images mobile">
  </div>
</div>
<div class="container pt-5 d-flex description flex-column">
  <h2 class="">Grandissez avec moi. <br>
    Je grandirais avec vous.</h2>
  <p> je serais ravie d'intégrez le cœur de votre équipe de développeurs informatiques, et je deviendrai un atout précieux pour notre succès commun. Mon expérience et ma passion pour la technologie me permettent de m'intégrer aisément avec les outils qui nous aident à comprendre notre public et à déterminer notre audience cible. Je suis convaincu que la clé du développement informatique efficace réside dans la compréhension des besoins et des préférences de nos utilisateurs. En travaillant ensemble, je m'engage à contribuer à l'identification des besoins de nos clients, à optimiser leur expérience utilisateur et à faire en sorte que nos projets informatiques répondent de manière précise et efficace à leurs attentes. Faire de chaque ligne de code un moyen de communication ciblé, voilà ce qui nous démarquera en tant qu'équipe.</p>
  <img src="assets/pictures/computer.jpg" alt="computer">
</div>
