<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/pictures/insys2s.avif" class=" sizePictures" alt="Entreprise insys2s">
      <div class="carousel-caption d-none d-md-block">
        <h5>Développeur full stack chez Insy2s</h5>
        <p>Developpement d'une app web pour des commerciaux en Java et react</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/pictures/Inetum.png" class=" sizePictures" alt="Entreprise Inetum">
      <div class="carousel-caption d-none d-md-block">
        <h5>Développeur back end chez Inetum</h5>
        <p>Déboggage et évolution en Java</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/pictures/dagoma.jpg" class="sizePictures" alt="Entreprise dagoma">
      <div class="carousel-caption d-none d-md-block">
        <h5>Ingénieur IA chez Dagoma</h5>
        <p>Contrat pro en IA, migration de la CRM</p>
      </div>
    </div>
  </div>

  <!-- Carousel controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
