<app-slide></app-slide>
<h2 class="collaboration">Quelque collaborations</h2>
<div class="d-flex container justify-content-between flex-wrap">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image d-flex"></div>
      <mat-card-title>Ministère de la Justice</mat-card-title>
      <mat-card-subtitle>Développeur Java</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="assets/pictures/ministere.png" alt="Ministère de la Justice">
    <mat-card-content>
      <p>
        Le projet est la refonte et le débogage des sites du Ministère de la Justice. Une équipe de quinze personnes. Le travail en méthodologie agile. J'ai fait du débogage en Java. J'ai participé à ce projet pendant quatre mois.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image d-flex"></div>
      <mat-card-title>Banque BNP</mat-card-title>
      <mat-card-subtitle>Développeur Java</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="assets/pictures/BNP-PARIBAS.jpg" alt="Banque BNP">
    <mat-card-content>
      <p>
        Le projet pour les utilisateurs qui gèrent les assurances-vie. Une équipe de huit personnes. J'ai fait du débogage en Java et la mise en place d'évolutions. Le déroulement et l'analyse de batch pour la migration de leur base de données. J'ai participé à ce projet pendant quatre mois.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="image" mat-card-avatar class="header-image d-flex"></div>
      <mat-card-title>Dagoma</mat-card-title>
      <mat-card-subtitle>Ingènieur IA</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="assets/pictures/logoDAGOMA.png" alt="Commerciaux">
    <mat-card-content>
      <p>
        Le projet a été de faire la migration de la CRM d'Odoo. La mise en place de modules custom ainsi que de champs. L'analyse et la compréhension du fonctionnement de la CRM. J'ai fait ce projet durant sept mois en suivant un parcours d'ingénieur IA
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div class="image" mat-card-avatar class="header-image d-flex"></div>
      <mat-card-title>Nini testeuse</mat-card-title>
      <mat-card-subtitle>développeur Angular</mat-card-subtitle>
    </mat-card-header>
    <img class="image" mat-card-image src="assets/pictures/ninitesteuse1.png" alt="Commerciaux">
    <mat-card-content>
      <p>
        Le projet est destiné à mettre en place un blog pour la publication de tests de produits. Le projet sera fait en Angular pour la partie front. Je travaille seul sur le projet après avoir fait une maquette pour le projet. Je vais faire un back de façon à pouvoir mettre les données en BDD et créer une interface admin. Le projet est en cours.
      </p>
    </mat-card-content>
  </mat-card>


<div class="container pt-5 d-flex description flex-column ">
  <h2 class="grandir">L'avenir</h2>
  <p> je serais ravie d'intégrez le cœur de votre équipe de développeurs informatiques, et je deviendrai un atout précieux pour notre succès commun. Mon expérience et ma passion pour la technologie me permettent de m'intégrer aisément avec les outils qui nous aident à comprendre notre public et à déterminer notre audience cible. Je suis convaincu que la clé du développement informatique efficace réside dans la compréhension des besoins et des préférences de nos utilisateurs. En travaillant ensemble, je m'engage à contribuer à l'identification des besoins de nos clients, à optimiser leur expérience utilisateur et à faire en sorte que nos projets informatiques répondent de manière précise et efficace à leurs attentes. Faire de chaque ligne de code un moyen de communication ciblé, voilà ce qui nous démarquera en tant qu'équipe.</p>
  <img class="w-75 mobile" src="assets/pictures/bureau.jpg" alt="computer">
</div>
</div>
<!-- button haut-->
<div class="button_haut" (click)="haut()">
  <img class="sizeHaut" src="assets/logos/haut.svg" alt="fleche haut">
</div>
