<h2>Liens vers tous le sprojets :
  <a class="lien" href="https://github.com/elvis-messiaen?tab=repositories" target="_blank">Github</a>
</h2>

<!------------------  Projet Ninitesteuse Angular  Projet en cours------------------------>
<div class="container d-flex flex-column">
  <div>
    <h3 class="titre">Nini testeuse</h3>
    <p class="description m-1 py-2">Le projet Nini testeuse est un blog demandé par ma compagne. Elle fait des tests sur les produits qu'elle reçoit. L'idée est de partager ces avis sur les produits.<br> Le tous sans prendre parti pour la marque qui lui propose les échantillons.<br> Le projet est en cours de fabrication. Il sera en Angular, des mises à jour régulières sont faites afin de le compléter et de l'améliorer</p>
    <p>Liens vers le code : <a class="lien" href="https://github.com/elvis-messiaen/nini_testeuse_front">Github</a></p>
  </div>
  <div class="d-flex flex-column sizeCard">
    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/ninitesteuse1.png" alt="accueil">
      <div class="detail pt-2 m-1">
        <h4 class="">Page d'accueil</h4>
        <p>La page d'accueil offre une petite présentation de Nini. En dessous un slide des catégories </p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/ninitesteuse2.png" alt="fiche de produits">
      <div class="detail pt-2 m-1">
        <h4>Page de catégorie ALIMENTATION</h4>
        <p>Les pages de produits affichent les Card en fonction de leur catégorie. On y retrouve une image et une petite description</p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/ninitesteuse3.png" alt="détail de produit ALIMENTATION">
      <div class="detail pt-2 m-1">
        <h4 class="">Détail d'un produit ALIMENTATION</h4>
        <p>La page de détail de produit affiche la description du produit. Elle propose plusieurs images. En dessous différent onglet sont proposés. Certains s'affichent en fonction du produit</p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/ninitesteuse4.png" alt="détail du produit CHEVEUX">
      <div class="detail pt-2 m-1">
        <h4 class="">Détail d'un produit CHEVEUX</h4>
        <p>Ici l'onglet efficacité  est proposé. Celui du goût n'a pas lieu d'être présent ;)</p>
      </div>
    </div>
  </div>
  <div class="d-flex center flex-column ">
    <h2>démo de l'application web</h2>
    <iframe class="video" width="840" height="473" src="https://www.youtube.com/embed/ArXKHGtsyyI?si=67PfBrzwWHk7ot3P" title="Nini testeuse"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<!------------------  Projet Nogachis Java Angular  ------------------------>
<div class="container d-flex flex-column sizeCard">
  <div>
    <h3 class="titre">Nogachis</h3>
    <p class="description m-1 py-2">Le projet Nogachis propose au particulier des recettes afin de limiter le gâchis alimentaire.<br>Ce projet est fait en Java, Spring boot et en Angular. La base de données est en MySQL. Le projet est fait avec la méthodologie agile SCRUM.<br>Nous avons travaillé à quatre sur celui-ci</p>
    <p>Liens vers le code du front : <a class="lien" href="https://github.com/elvis-messiaen/nogachisfront" target="_blank">Github</a></p>
    <p>liens vers le code du back  :  <a class="lien" href="https://github.com/elvis-messiaen/nogachisback" target="_blank">Github</a></p>
  </div>
  <div class="d-flex flex-column sizeCard">
    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/Nagachis1.png" alt="connexion">
      <div class="detail pt-2 m-1">
        <h4 class="">Page de connexion</h4>
        <p>Celui doit correspondre à votre enregistrement. Les données sont vérifiées en base de données. Le mot de passe est encrypté. </p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/Nagachis2.png" alt="fiche de produits">
      <div class="detail pt-2 m-1">
        <h4>Page d'accueil</h4>
        <p>La page d'accueil propose neuf échantillons de produit et où de recettes. Cela de façon aléatoire.
          Les données sont récupérées depuis la base de données.</p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/Nagachis3.png" alt="détail de produit">
      <div class="detail pt-2 m-1">
        <h4 class="">Détail d'un produit</h4>
        <p>Vous trouvez le détail d'une fiche de produit et où d'une recette</p>
      </div>
    </div>

    <div class="card w-75 ms-1 m-lg-5 d-flex flex-column">
      <img  src="assets/pictures/Nagachis4.png" alt="entrez du nom">
      <div class="detail pt-2 m-1">
        <h4 class="">Mode de recherche</h4>
        <p>Le mode de recherche est interactif et vous permet de retrouver plus rapidement ce dont vous avez besoin</p>
      </div>
    </div>
  </div>
  <div class="d-flex center flex-column ">
    <h2>démo de l'application web</h2>
    <iframe class="video" width="840" height="473" src="https://www.youtube.com/embed/J0u-Wor7KF8?si=SfdNazq4nFJSs4fx" title="Nogachis"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>




<div class="container d-flex flex-column sizeCard">
  <!------------------  Jeu Spacer Java  ------------------------>
  <div>
    <h3 class="titre">Spacer</h3>
    <p class="description m-1 py-2">Le projet Spacer a été fait sur les mobiles Android et en Java. Nous avons fait celui-ci en groupe de quatre personnes.Cela en méthodologie agile.<br> Le but du jeu est d'éviter différentes sortes d'astéroïde. Leurs formats et vitesse sont différents ainsi que la façon dont elles se déplacent</p>
    <p>Lien vers le code : <a class="lien" href="https://github.com/elvis-messiaen/Spacer" target="_blank">Github</a></p>
  </div>
  <div class="d-flex flex-row mobile">
    <div class="card w-25 ms-1 m-lg-5 d-flex flex-column picture">
      <img src="assets/pictures/mobile1.png" alt="entrez du nom">
      <div class="detail pt-2 m-1">
        <h4 class="">Page d'accueil</h4>
        <p>Vous devez entrez votre nom avec 3 caractères minimum.</p>
      </div>
    </div>

    <div class="card w-25 ms-1 m-lg-5 d-flex flex-column picture">
      <img src="assets/pictures/mobile2.png" alt="partie de jeu">
      <div class="detail pt-2 m-1">
        <h4>Partie de jeu</h4>
        <p>Lors de la partie de jeu, On a 5 vies.<br>Il faut éviter les astéroïdes pour faire le plus de points</p>
      </div>
    </div>

    <div class="card w-25 ms-1 m-lg-5 d-flex flex-column picture">
      <img src="assets/pictures/mobile3.png" alt="choix utilisateur">
      <div class="detail pt-2 m-1">
        <h4 class="">Fin de la partie</h4>
        <p>En fin de partie. On peux refaire une partie, afficher les scores ou quitter le jeu</p>
      </div>
    </div>
  </div>
  <div class="d-flex center flex-column ">
    <h2>démo du jeux</h2>
    <iframe class="video" width="840" height="473" src="https://www.youtube.com/embed/DnL776dzaLY?si=wV8MzFGaLptEJw4j" title="Spacer"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<!-- button haut-->
<div class="button_haut" (click)="haut()">
  <img class="sizeHaut" src="assets/logos/haut.svg" alt="fleche haut">
</div>
