h2{
  text-align: center;
  margin-bottom: 20px;
  color: #485829;
  margin-top: 50px;
  font-size: 34px;
}
h3{
  margin-top: 10px;
  text-align: center;
  font-size: 34px;
}

.container{
  margin-top: 200px;
  background-color: #f0f5f3;
  margin-bottom: 50px;
}

.lien{
  text-decoration: none;
  cursor: pointer;
  color: #485829;
  font-weight: bold;
}

p{
  line-height: 2em;
}
.detail{
  max-height: 200px;
}

.card img {
  min-height: 75%;
}
.video{
  align-items: center;
}
.center{
  margin: auto;
  padding-bottom: 30px;
}



@media screen and (max-width: 844px) {
  .mobile {
    flex-direction: column !important;
  }
  .card{
    width: 360px !important;
    margin-bottom: 10px;
  }
  .picture, .picture img, .detail, .detail h4, .detail p  {
    width: 360px;
  }
  iframe {
    width: 360px;
    height: 360px;
    object-fit: cover;
  }
  .container {
    margin-top: 50px;
  }
  .sizeHaut{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 740px) {
  .mobile {
    flex-direction: column !important;
  }
  .card{
    width: 320px !important;
    margin-bottom: 10px;
  }
  .picture, .picture img, .detail, .detail h4, .detail p  {
    width: 320px;
  }
  iframe {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
  .container {
    margin-top: 50px;
  }
  .sizeHaut{
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 380px) and (max-width: 393px) {
  h2{
    display: flex;
    margin: 5px auto;
    width: 300px;
    font-size: 18px;
  }
  .sizeCard{
    align-items: center;
  }
  .mobile {
    flex-direction: column !important;
  }
  .card{
    width: 320px !important;
    margin-bottom: 10px;
  }
   img{
     justify-content: center;
  }
  .picture, .picture img, .detail, .detail h4, .detail p  {
    width: 320px;
  }
  iframe {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
  .container {
    margin-top: 50px;
  }
  .sizeHaut{
    width: 30px;
    height: 30px;
  }
}
