 <h1 class="titre">À propos</h1>
 <div class="container">
   <h2>Ma reconversion professionnelle</h2>
   <!-- card one -->
   <div class="container d-flex position ">
     <div class="texte-card">
       <h3 class="text-center">Tous commence en 2017</h3>
       <p>Je n'ai pas de diplôme me permettant de suivre le cursus informatique<br>
         Je continue de travailler de nuit et quatre jours par semaine.<br>
         je fais des cours afin d'obtenir un DAEU</p>
       <a href="https://www.daeu.fr" target="_blank">Le cursus</a>
     </div>
     <div class="pictureCard">
       <img class="imgPropos" class="imgPropos" src="assets/pictures/fusee.jpg" alt="avenir">
     </div>
   </div>
   <!-- card two -->
   <div class="container d-flex position gap-5">
     <div>
       <img class="imgPropos" class="imgPropos" src="assets/pictures/Le_CNAM_bandeau.jpg" alt="cnam">
     </div>
     <div class="texte-card">
       <h3 class="text-center">De 2018 à 2019, développeur informatique au CNAM de Lille</h3>
       <p>Je fais la formation de développeur informatique aux CNAM de Lille.<br>
         Le cursus est l'équivalent d'un DUT informatique.<br>
         J'ai pu découvrir le Java, SQL, Gestion de projet, les mathématiques</p>
       <a href="https://formation.cnam-hauts-de-france.fr/formations/informatique/diplome-d-etudes-universitaires-scientifiques-et-techniques-informatique-d-organisation-et-systemes-d-information-iosi-parcours-technicien-developpement-securite-et-exploitation/formations_0_973.html" target="_blank">Le cursus</a>
     </div>
   </div>
   <!-- card three -->
   <div class="container d-flex position gap-5">
     <div class="texte-card">
       <h3 class="text-center">De 2020 à 2021, concepteur dévelopeur d'applications à l'Afpa de Roubaix</h3>
       <p>J'ai travaillé en méthodologie agile. J'ai vu Java, React, PostgreSQL.<br>
         J'ai pu faire différent projet en équipe.<br>
         L'utilisation de Git pour le versioning.<br>
         La création d'un projet fil rouge de type e-commerce</p>
       <a href="https://www.afpa.fr/formation-qualifiante/concepteur-developpeur-informatique" target="_blank">Le cursus</a>
     </div>
     <div>
       <img class="imgPropos" class="imgPropos" src="assets/pictures/afpa.jpg" alt="avenir">
     </div>
   </div>
   <!-- card four -->
   <div class="container d-flex position gap-5">
     <div>
       <img class="imgPropos" class="imgPropos" src="assets/pictures/developpeur.jpg" alt="avenir">
     </div>
     <div class="texte-card dep">
       <h3 class="text-center">De février 2021 à mai 2021, développeur full stack</h3>
       <p>J'ai fait mon stage comme développeur full stack.<br>
         Dans un groupe de huit personnes. Nous avons créé un site web destinée aux commerciaux.<br>
         Afin de les aider dans leurs prospections et l'établissement des devis.<br>
         Nous avons fait des sprints de quinze jours.<br>
         Le back a été fait en Java et pour le front en React.<br>
         La base de données en H2 et ensuite en PostgreSQL.</p>
     </div>
   </div>
   <!-- card five -->
   <div class="container d-flex position gap-5">
     <div class="texte-card">
       <h3 class="text-center">De 2021 à 2022, Développeur full stack avec M2i à villeneuve d'ascq</h3>
       <p>J'ai appris Angular, j'ai revu Java plus en profondeur en réutilisant Spring pour la création du fil rouge.<br>
         la mise en place en méthodologie SCRUM. On a utilisé docker et PostgreSQL.<br>
         Nous avons fait un site web pour proposer des méthodes visant à réduire le gâchis alimentaire.<br>
         Le projet a été présenté aux entreprises qui nous suivaient.<br>
         Inetum a souhaité que j'intègre leurs équipes.</p>
     </div>
     <div>
       <img class="imgPropos" src="assets/pictures/formationM2I.jpg" alt="m2i">
     </div>
   </div>
   <!-- card six -->
   <div class="container d-flex position gap-5">
     <div class="pictureCard">
       <img class="imgPropos"  src="assets/pictures/Inetum.png" alt="avenir">
     </div>
     <div class="texte-card">
       <h3 class="text-center">De mars 2022 à novembre 2022, développeur back end chez Inetum</h3>
       <p>J'ai travaillé pour le ministère de la Justice. L'équipe divisée entre Paris et Lille d'environ 15 personnes.<br>
         Nous étions en mode agile SCRUM. J'ai fait du déboggage java. Le projet à durée quatre mois.<br>
         J'ai travaillé pour la BNP dans une équipe de sept personnes, nous étions en méthodologie semi-agile.<br>
         J'ai fait du déboggage en Java et des évolutions. J'ai lancé des lancements de Bash pour préparer la migration. Le projet à durée 4 mois</p>
     </div>
   </div>
   <!-- card seven -->
   <div class="container d-flex position gap-5">
     <div class="texte-card">
       <h3 class="text-center">D'avril 2023 à novembre 2023, Ingénieur IA</h3>
       <p>J'ai aidé à la migration de Odoo de la version 12 vers la version 16.<br>
         L'installation de module en V16. J'ai adapté des modules de version V12 pour qu'il soit compatible en V16.<br>
         J'ai fait du déboggage dans le code de la crm parti front et back.<br>
         J'ai installé des champs custom et des vues custom depuis la V12 et pour la V16.<br>
         J'ai participé à l'élaboration du nouveau site de Dagoma.<br>Une équipe de designer et d'intégrateur sont venus pour aider à la mise en place du site. </p>
     </div>
     <div>
       <img class="imgPropos" src="assets/pictures/dagoma.jpg" alt="m2i">
     </div>
   </div>
   <!-- card eight -->
   <div class="container d-flex position gap-5">
     <div >
       <img class="imgPropos" src="assets/pictures/avenir.png" alt="avenir">
       <button (click)="redirect()" class="d-flex contact">Me contacter</button>
     </div>
     <div class="texte-card">
       <h3 class="text-center"><strong>L'avenir, commence aujourd'hui ! </strong><br>
         C'est avec vous que j'ai envie de grandir. <br>Je n'attend qu'un signe de votre part</h3>
       <p>Je suis très enthousiaste à l'idée de rejoindre votre entreprise en tant que développeur full stack, car je crois profondément en l'importance de travailler dans un environnement qui valorise des principes tels que la confiance, le partage, l'esprit d'équipe, la curiosité et la quête constante d'apprentissage.<br><br>
         La confiance est la base de toute collaboration fructueuse. En tant que développeur full stack. Je crois que la confiance mutuelle est essentielle pour construire une équipe solide et atteindre nos objectifs.<br><br>
         Le partage est une valeur clé pour moi. Je crois que la connaissance n'a de valeur que lorsqu'elle est partagée. En tant que membre de l'équipe, je suis prêt à partager mes compétences, mon expertise et mes idées pour contribuer au succès de notre projet commun. Je valorise également l'écoute active et la rétroaction constructive pour favoriser une culture d'apprentissage continu.<br><br>
         L'esprit d'équipe est fondamental pour réussir dans le développement logiciel. Je suis convaincu que le travail d'équipe permet d'atteindre des résultats exceptionnels.<br><br>
         La curiosité est un moteur essentiel de l'innovation. En tant que développeur, je suis naturellement curieux et avide d'apprendre de nouvelles technologies, de résoudre des problèmes complexes et d'explorer de nouvelles approches. La curiosité nous pousse à repousser nos limites et à rester à la pointe de notre domaine. Ce qui fais de se métier une force<br><br>
         Enfin, l'apprentissage continu est au cœur de ma philosophie. Je suis conscient que le domaine de la technologie évolue constamment, et j'aime rester à jour en investissant dans ma propre formation.<br><br>
         En résumé, en tant que développeur full stack, je suis déterminé à contribuer à la réussite de notre entreprise en mettant en pratique ces valeurs de confiance, partage, esprit d'équipe, curiosité et apprentissage constant. Je suis impatient de rejoindre votre équipe et de participer à des projets passionnants qui repoussent les limites de ce que nous pouvons accomplir ensemble. Merci de me donner cette opportunité</p>
     </div>
   </div>
</div>
 <div class="button_haut" (click)="haut()">
   <img class="sizeHaut" src="assets/logos/haut.svg" alt="fleche haut">
 </div>
